@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background: #0a0a0a;
  color: #e5e5e5;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.sprite-256 {
  width: 256px;
  height: 256px;
}
